name: Linux Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        check-latest: true
    - name: Install UPX
      uses: crazy-max/ghaction-upx@v3
      with:
        install-only: true
    - name: Check UPX version
      run: upx --version
    - name: Download Deno
      run: |
        wget https://github.com/denoland/deno/releases/latest/download/deno-x86_64-unknown-linux-gnu.zip
        unzip deno-x86_64-unknown-linux-gnu.zip
        chmod +x deno
        ./deno --version
    - name: PyInstaller Linux
      uses: aliencaocao/pyinstaller_action@main
      with:
        python_ver: '3.13'
        spec: 'yt-dlp-gui-linux.spec'
        requirements: 'requirements.txt'
        upload_exe_with_name: 'yt-dlp-gui'
