name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        check-latest: true
    - run: pip install pyinstaller-versionfile
    - name: Install UPX
      uses: crazy-max/ghaction-upx@v3
      with:
        install-only: true
    - name: Check UPX version
      run: upx --version
    - name: Download FFMPEG binaries
      run: |
        C:\msys64\usr\bin\wget.exe https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip
        7z x ffmpeg-master-latest-win64-gpl.zip
        cp ffmpeg-master-latest-win64-gpl/bin/ffmpeg.exe .
        cp ffmpeg-master-latest-win64-gpl/bin/ffprobe.exe .
        ./ffmpeg -version
    - name: Download Deno
      run: |
        C:\msys64\usr\bin\wget.exe https://github.com/denoland/deno/releases/latest/download/deno-x86_64-pc-windows-msvc.zip
        7z x deno-x86_64-pc-windows-msvc.zip
        ./deno --version
    - name: Create version.txt for PyInstaller
      run: create-version-file version.yml --outfile version.txt
    - name: PyInstaller Windows
      uses: aliencaocao/pyinstaller_action@main
      with:
        python_ver: '3.13'  # https://github.com/actions/python-versions/blob/main/versions-manifest.json
        spec: 'yt-dlp-gui.spec'
        requirements: 'requirements.txt'
        upload_exe_with_name: 'yt-dlp-gui.exe'
        clean_checkout: false
